
.link {
    color: '#60a5fa';
    font-size: 23px;
    vertical-align: top;
    font-family: 'Architects Daughter', cursive;
}

.about{
     color: '#60a5fa';
    font-size: 23px;
    vertical-align: top;
    font-family: 'Architects Daughter', cursive;
}