
.link {
    color: #000000;
    font-size: 23px;
    vertical-align: top;
    font-family: 'Architects Daughter', cursive;
}

.about{
     color: #000000;
    font-size: 23px;
    vertical-align: top;
    font-family: 'Architects Daughter', cursive;
}