.date{
    margin-top: 25px;
    font-size: 28px;
    color: #0f172a;
    font-family: 'Architects Daughter', cursive;
}

.errorDiv{
    margin-top: 30px;
    font-size: 28px;
    color: #0f172a;
    font-family: 'Architects Daughter', cursive;}